---
- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker APT repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable

- name: Install Docker CE
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: yes

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add devops user to docker group
  user:
    name: devops
    append: yes
    groups: docker

# Test Docker with NGINX
- name: Run test nginx container
  docker_container:
    name: nginx-test
    image: nginx
    ports:
      - "80:80"
    state: started
